<%- include('../partials/header') %>
<section id="details-page">
    <div>Title: </div>
    <div><%= album.title %></div>
    <div>Release Year: </div>
    <div><%= album.releaseYear %></div>
    <h2>Comments</h2>
    <form id="add-comments-form" method="POST" action="/albums/<%= album._id %>/comments">
        <label>Comment:</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Add Comment">
    </form>
    <% comments.forEach(function(a) { %>
    <div><%= a.content %></div>
    <form id="delete-comments-form" method="POST" action="/albums/<%= album._id %>/comments/<%= a._id %>?_method=DELETE">
        <label>Comment:</label>
        <textarea hidden name="content"><%= a.content %></textarea>
        <input type="submit" value="Delete Comment">
    </form>
    <form id="update-comments-form" method="POST" action="/albums/<%= album._id %>/comments/<%= a._id %>?_method=PUT">
        <label>Comment:</label>
        <textarea name="content"><%= a.content %></textarea>
        <input type="submit" value="Update Comment">
    </form>
    <% }); %>
</section>
</body>
</html>