<%- include('../partials/header') %>

<section id="details-page">
    <div>Title: </div>
    <div><%= album.title %></div>
    <div>Release Year: </div>
    <div><%= album.releaseYear %></div>
    <h2>Comments</h2>
    <label>Comment:</label>
    <% comments.forEach(function(a) { %>
    <form id="add-comments-form" method="POST" action="/albums/<%= album._id %>/comments">
        <input type="submit" value="Add Comment">
        <textarea name="content"><%= a.content %><</textarea>
    </form>
    <% }); %>
    <div><%= album.comments %></div>
    <form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
        <input name="text" value="<%= comment.text %>">
        <button type="submit">UPDATE COMMENT</button>
      </form>
      <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE COMMENT</button>
      </form>  
</section>
</body>

</html>